body{
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:2;
	color:#333333;
	text-decoration:none;
	text-align:justify;
}

.sbiback{
background-image:url(images/sbilogo.png);
background-position:top center;
background-repeat:no-repeat;
height:400px;
}

.alluser {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 9px;
	margin-left : 0px;
	margin-right : 0px;
	font-size : 16px;
	font-family : arial;
	font-weight: bold;
    text-align:justify;
}
.alluser a {
	color : #ffffff;
	text-decoration: none;
}
.alluser a:hover {
	color : #FF0000;
}