/* top menu css starts */



#menu{
	background:url(menu.gif) repeat-x;
	width:1050px;
	height:52px;
}

#nav, #nav ul {
	float: left;
	list-style: none;
	line-height: 52px;
	padding: 0;
	margin: 0;
}


#nav a {
	display: block;
	text-decoration: none;
	
}



#nav li {
	float: left;
	padding: 0;
	width:auto;
	display:block;
	
	}
	


#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	margin: 0;
	padding:0px;
	display:block;
	width:130px;
}

#nav li li {
	padding: 0px;
	width: 130px;
	text-align:left;
	display:block;
}

#nav li ul a {
	width: 130px;
	line-height:18px;
}



#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
	color:#000000;
	padding:0px;
	background:url(menu1.png) repeat-x #78A9FC;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
	color:#000000;
	background:repeat-x #78A9FC;
}

#nav li:hover, #nav li.sfhover {
	color:#000000;
	background:url(menu1.png) repeat-x #78A9FC;
}



.nav li { z-index: 201;
 }
 
.sub{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	padding: 0px 28px 0px 29px;
	text-align:center;
	color:#FFFFFF;
	background:url(../images/line.gif) right no-repeat;
	font-weight: bold;
}
 .sub:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0066;
	text-decoration:none;
	padding: 0px 28px 0px 29px;
	text-align:center;
	background:url(../images/line.gif) right no-repeat;
	font-weight: bold;
 }
 
.links{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#000000;
		display:block;
		background:#A8E1F6;
		text-align:left;}

.links a{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#000000;
		display:block;
		padding:0px 0px 4px 13px;
		TEXT-DECORATION: none;
		background:url(../images/arrow-drop-off.gif) no-repeat #6CDFF8;
		border:1px solid #77A8F9;
		border-top:none;
		text-align:left;
}
.links a:hover{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#FFFFFF;
		background:url(../images/arrow-drop-on.gif) no-repeat #0674E4 ;
		TEXT-DECORATION: none;
		font-weight:bold;
		display:block;
		padding:0px 0px 4px 13px;
		border-bottom:#000000 1px solid;		

}
 
 
